/* #region RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #endregion */

/* #region DEBUG */

.debug header .container.first-menu > * {
  background-color: var(--azure-color);
  padding: 7px;
}

.debug main .container .grid .grid-items {
  height: 345px;
  padding: 40px 25px;
}

.debug main .planning .container .planning-section.flex,
.debug main .call-to-action .container .cta.flex {
  height: 930px;
  align-items: center;
}

.debug main .planning .container .planning-section .planning-items {
  background-color: white;
  height: 555px;
  width: 405px;
}

.debug main .testimonials .testimonials-items {
  height: 280px;
  background-color: var(--violet-color);
}

.debug main .equal-grid {
  background-color: var(--violet-color);
}

.debug .aboutus .container.flex {
  height: 880px;
}

.debug footer {
  height: 225px;
}

/* #endregion */

/* #region COMMON */

.flex {
  display: flex;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 32px;
}

:root {
  --blue-color: #0084fd;
  --azure-color: #b5ddff;
  --violet-color: #9792e4;
  --gray-color: #333333;
  --white-color: #ffffff;
}

/* #endregion */

/* #region HEADER */

header {
  background-color: var(--blue-color);
}

header .container.first-menu {
  justify-content: space-between;
  align-items: center;
  height: 76px;
}

/* #endregion */

/* #region MAIN */

main {
  margin-top: 50px;
}

/* GRID */

main .container .grid {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

main .container .grid .grid-items {
  width: calc(100% / 3 - 25px);
  background-color: var(--azure-color);
}

main .container .grid .grid-items:first-child {
  width: calc(100% / 1.5 - 25px);
}

main .container .grid .grid-items .grid-items-left,
main .container .grid .grid-items .grid-items-right {
  float: left;
  width: 50%;
}

main .planning .container .planning-section {
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}

main .planning .container .planning-section .planning-items {
  text-align: center;
}

/* TESTIMONIALS */

main .testimonials {
  text-align: center;
}

main .testimonials .testimonials-items {
  margin-bottom: 32px;
}

main .testimonials .testimonials-items .img-content,
main .testimonials .testimonials-items .text-content {
  float: left;
}

/* FULL SCREEN SECTION */

main .planning,
main .call-to-action {
  background-color: var(--violet-color);
}

/* SECONDA GRID */

main .container .grid.equal .grid-items:first-child {
  width: calc(100% / 3 - 25px);
}

main .equal-grid h2 {
  text-align: center;
}

/* main .equal-grid .container .grid.equal.flex {
  flex-wrap: wrap;
} */

/* #endregion */

/* ABOUT US */

main .aboutus .container.flex {
  justify-content: center;
  align-items: center;
  gap: 100px;
}

/* CTA */

main .call-to-action .container .cta.flex {
  justify-content: center;
  align-items: center;
}

/* FOOTER */

footer {
  background-color: var(--gray-color);
  text-align: center;
  color: var(--white-color);
}

/* #region MEDIA QUERIES */

@media screen and (max-width: 992px) {
  main .equal-grid .container .grid.equal.flex .grid-items {
    .grid-items {
      width: calc(100% / 2 - 25px);
    }
  }
}

@media screen and (max-width: 768px) {
  main .container .grid,
  main .planning .container .planning-section.flex {
    flex-wrap: wrap;
  }

  main .container .grid .grid-items,
  main .container .grid .grid-items:first-child,
  main .container .grid .grid-items .grid-items-left,
  main .container .grid .grid-items .grid-items-right,
  main .container .grid.equal .grid-items:first-child,
  main .equal-grid .container .grid.equal.flex .grid-items {
    width: 100%;
  }

  .debug main .planning .container .planning-section.flex {
    height: 1140px;
  }
}

/* #endregion */
